extends layout

block content
  nav.navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand(href="#docs") Wiki
      ul.nav.navbar-nav.navbar-right
        li: a(href="#new-doc") New document
  #main.container
